body {
    background-color: #eeedef;
}

h1 {
    color: #377ec7;
}

.main-textarea {
    background-color: #3c3c3c;
    color: white;
}

.query-text {
    color: #dfc073;
}

.result-row {
    background-color: #f3f3f7;
    border: 1px solid #999;
    border-radius: 5px;
    margin-bottom: 15px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}