language: node_js
node_js:
  - "6"
notifications:
  email: false
services:
  - mongodb
before_script:
  - npm install -g gulp
os:
  - linux
  - osx
  - windows
cache:
  directories:
    - "node_modules"
addons:
  apt:
    packages:
      - xvfb

install:
  - export DISPLAY=':99.0'
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &