<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8">
    <title>Mongo Super Client</title>

    <link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="./css/styles.css" rel="stylesheet">

    <script>
      window.$ = window.jQuery = require('../../node_modules/jquery/dist/jquery.js');
    </script>

    <script src="../../node_modules/underscore/underscore.js"></script>
    <script src="../../node_modules/angular/angular.js"></script>
    <script src="../../node_modules/angular-route/angular-route.js"></script>

    <script src="./app.js"></script>
    <script src="./controllers/queryCtrl.js"></script>
    <script src="./services/mongoQueryAdapter.js"></script>
    <script src="./services/expressionHandler.js"></script>
  </head>
  <body>
    <div class="container" ng-controller="queryCtrl">
      <h1>Mongo Super Client</h1>

      <div class="form-group">
        <button type="button" ng-click="runQuery()" class="btn btn-success">Run</button>
      </div>
      <div class="form-group">
        <textarea class="form-control main-textarea" rows="3" placeholder="Enter Your Query" ng-model="yourQuery"></textarea>
      </div>
      <div class="form-group">
        <h2>QUERY: <span class="control-label has-success query-text" ng-cloak>{{prevQuery}}</span></h2> 
      </div>
      <div class="form-group">
        <div ng-repeat="item in queryResult" class="result-row" ng-cloak>
          <table class="table table-striped">
            <tr ng-repeat="(key, value) in item">
              <td><b>{{key}}</b></td>
              <td>{{value}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>